{
    "openapi": "3.0.1",
    "info": {
        "title": "Podbul Public API",
        "description": "Public surface endpoints with ApiResult wrapper responses",
        "contact": {
            "name": "Podbul Development Team",
            "email": "dev@podbul.com"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://publicapi.podbul.com",
            "description": "Podbul Public API"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Auth",
                "description": "This endpoint validates the provided API credentials and returns a JWT token upon successful authentication.\r\nThe token should be included in the Authorization header as \"Bearer {token}\" for subsequent API calls.\r\n\r\n**Authentication Process:**\r\n1. Validates API key and secret are provided\r\n2. Looks up user credentials in the database \r\n3. Generates and returns a JWT token with user claims\r\n\r\n**Security Notes:**\r\n- API secrets are hashed using unique salts\r\n- Tokens have configurable expiration times\r\n- Failed authentication attempts are logged for security monitoring",
                "requestBody": {
                    "description": "Authentication request containing API key and secret",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authentication successful - JWT token returned",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "API key or secret is missing or empty",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API credentials provided",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponseApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/list": {
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Product List with Full Details and Filtering",
                "description": "This endpoint provides access to the complete product catalog with rich filtering and pagination capabilities.\r\nProducts are returned with all associated metadata required for display and ordering.\r\n\r\n**Product Information Included:**\r\n- Basic product details (name, description, SKU)\r\n- Available colors and color variations\r\n- Size options and size charts\r\n- Category classifications and hierarchy\r\n- Product mockups and preview images\r\n- Asset parameters for customization\r\n- Pricing tables and cost information\r\n- Availability and stock status\r\n\r\n**Filtering and Pagination:**\r\n- Category filtering is mandatory for performance\r\n- Search functionality across product names and descriptions\r\n- Pagination with configurable page sizes (max 200 items)\r\n- Only published products are returned by default\r\n\r\n**Performance Considerations:**\r\n- Applied filters are processed in batch queries to prevent N+1 issues\r\n- Related tables are fetched in single operations for consistent performance\r\n- Query count remains constant even on high page numbers\r\n\r\n**Business Rules:**\r\n- Only products with PublishState=Publish are returned\r\n- Price information shows the minimum price from PriceTables\r\n- Category ID must be obtained from the /categories endpoint\r\n- All monetary values are in the base currency (USD)\r\n\r\n**Print Area Information:**\r\n- 0 = Front\r\n- 1 = Back\r\n- 2 = Front and Back\r\n- 3 = Front Pocket\r\n- 4 = Front Pocket and Back",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "1-based page number for pagination (default: 1)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page, maximum 200 recommended (default: 20)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20
                        }
                    }
                ],
                "requestBody": {
                    "description": "Filtering criteria including required category ID and optional search parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CatalogFiltersDto"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CatalogFiltersDto"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CatalogFiltersDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Products retrieved successfully with pagination metadata",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogProductPagedResultDTOApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogProductPagedResultDTOApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogProductPagedResultDTOApiResult"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error during product retrieval"
                    }
                }
            }
        },
        "/api/v1/catalog/{productId}/base-rates": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Cheapest Shipping Rates by Product",
                "description": "Returns the cheapest carrier base shipping rate per country for a given product.\r\nThe endpoint calculates shipping costs based on the product's minimum weight across all sizes.\r\n            \r\n**Caching:**\r\n- Results are cached for 1 hour per product to improve performance\r\n            \r\n**Common Error Scenarios:**\r\n- Product has no sizes defined \u2192 404\r\n- Product sizes have no weight information \u2192 404\r\n- No carrier base rate matches the product weight \u2192 404",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "The unique product identifier (e.g. 4)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Base rates retrieved successfully with per-country cheapest carrier details",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No sizes, weights, or matching base rates found for the product",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized \u2013 valid JWT token required",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/categories/tree": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Categories Tree",
                "description": "This endpoint returns the entire category taxonomy organized in a hierarchical tree format.\r\nCategories are structured with parent-child relationships to enable navigation and filtering.\r\n \r\n**Category Tree Structure:**\r\n- Root categories (parent categories with no parent)\r\n- Child categories nested under their respective parents\r\n- Multiple levels of nesting supported\r\n- Each category includes ID, name, description, and child count\r\n\r\n**Use Cases:**\r\n- Building navigation menus for product browsing\r\n- Category selection for product filtering\r\n- Hierarchical category displays in user interfaces\r\n- SEO-friendly URL generation with category paths\r\n\r\n**Performance Notes:**\r\n- Tree structure is optimized for fast retrieval\r\n- Categories are cached for improved response times\r\n- Includes only active/published categories\r\n- Minimal database queries using efficient tree traversal\r\n\r\n**Data Format:**\r\n- Each category node contains: ID, Name, Description, ParentID\r\n- Children array contains nested subcategories\r\n- Leaf nodes have empty children arrays\r\n- Product counts may be included per category",
                "responses": {
                    "200": {
                        "description": "Category tree retrieved successfully with complete hierarchy",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryTreeDtoListApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryTreeDtoListApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryTreeDtoListApiResult"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error during category tree retrieval"
                    }
                }
            }
        },
        "/api/v1/orders/create": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "New Order Creation",
                "description": "This endpoint allows authenticated users to create new orders in the system.\r\nThe order will be created with a unique identifier and initial status.\r\n\r\n**Order Creation Process:**\r\n1. Validates user authentication and authorization\r\n2. Creates a new order entity with provided details\r\n3. Assigns a unique order ID and timestamp\r\n4. Sets initial order status to \"Created\"\r\n5. Stores order in MongoDB collection\r\n\r\n**Business Rules:**\r\n- Only authenticated users can create orders\r\n- User ID is extracted from JWT token\r\n- Order details are validated before creation\r\n- All orders are logged for audit purposes\r\n\r\n**Print Area Information:**\r\n- 0 = Front\r\n- 1 = Back\r\n- 2 = Front and Back\r\n- 3 = Front Pocket\r\n- 4 = Front Pocket and Back\r\n\r\n**ImageUrl1 and ImageUrl2 Usage:**\r\n- **ImageUrl1** and **ImageUrl2** are the mockup image URLs used for printing on the product.\r\n- **Accessibility:** The provided image URLs must be publicly accessible over the internet.\r\n  The system downloads these images via HTTP GET requests and re-uploads them to internal storage,\r\n  so any URL that requires authentication or is behind a firewall will cause the order to fail.\r\n- **Resolution:** Images should be **300 DPI** for optimal print quality.\r\n  If a lower resolution image is provided, the system will automatically upscale and convert it to 300 DPI,\r\n  though this may affect the final print quality.",
                "requestBody": {
                    "description": "Order creation payload containing order details and items",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderCreateDTO"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderCreateDTO"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderCreateDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Order created successfully - returns order ID",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateOrderResponseApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateOrderResponseApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateOrderResponseApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user ID or malformed request data"
                    },
                    "500": {
                        "description": "Internal server error during order creation"
                    }
                }
            }
        },
        "/api/v1/orders/{id}": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Get Order Details",
                "description": "This endpoint allows authenticated users to fetch details of their own orders.\r\nOnly orders belonging to the authenticated user can be retrieved for security.\r\n\r\n**Order Retrieval Process:**\r\n1. Validates user authentication from JWT token\r\n2. Searches for order by ID and user ownership\r\n3. Returns complete order details if found\r\n4. Includes order items, status, and metadata\r\n\r\n**Security Notes:**\r\n- Users can only access their own orders\r\n- Order ID must be a valid MongoDB ObjectId or Podbul Order ID\r\n- All access attempts are logged for security monitoring",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique Podbul Order ID (MongoDB ObjectId format)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order retrieved successfully with complete details",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found or user doesn't have access",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderResponseDTOApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user ID extracted from authentication token"
                    },
                    "500": {
                        "description": "Internal server error during order retrieval"
                    }
                }
            }
        },
        "/api/v1/orders/{id}/cancel": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Cancels an existing order",
                "description": "This endpoint allows authenticated users to cancel their own orders.\r\nOnly orders that are in a cancellable state can be cancelled.\r\n\r\n**Order Cancellation Process:**\r\n1. Validates user authentication and order ownership\r\n2. Checks if order is in a cancellable state\r\n3. Updates order status to \"Cancelled\"\r\n4. Records cancellation timestamp and user\r\n5. Logs cancellation for audit purposes\r\n\r\n**Business Rules:**\r\n- Only order owners can cancel their orders\r\n- Orders in certain states (e.g., \"Shipped\") cannot be cancelled\r\n- Cancellation actions are irreversible\r\n- Refund processing may be initiated separately",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique Podbul Order ID to be cancelled",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Order cancellation accepted and processed successfully",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found or user doesn't have cancellation rights",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user ID extracted from authentication token"
                    },
                    "500": {
                        "description": "Internal server error during order cancellation"
                    }
                }
            }
        },
        "/api/v1/orders/{id}/address": {
            "put": {
                "tags": [
                    "Order"
                ],
                "summary": "Updates the shipping address of an existing order",
                "description": "This endpoint allows authenticated users to update the shipping address of their own orders.\r\nOnly orders that have not yet entered the fulfillment pipeline can be updated.\r\n            \r\n**Business Rules:**\r\n- Only the order owner can update the shipping address\r\n- Orders that are Preparing, Shipped, Delivered, or Cancelled cannot be updated\r\n- Address fields (Name, Street1, City, State, PostalCode, Country) are required\r\n- Country must be a valid ISO-2 or recognized country value",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique Podbul Order ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The new shipping address",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressDTO"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressDTO"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Shipping address updated successfully",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user ID or address validation failed",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error during address update"
                    }
                }
            }
        },
        "/api/v1/orders/{id}/shipping-rates": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Gets available shipping rates for an existing order",
                "description": "This endpoint queries available carrier shipping rates for the given order.\r\nThe order must have a valid shipping address configured before rates can be retrieved.\r\n            \r\n**Rate Validity:**\r\n- Retrieved shipping rates are valid for **240 minutes (4 hours)** from the time of retrieval.\r\n- After this period, the rates expire and are no longer accurate.\r\n- If the rates have expired, this endpoint must be called again to obtain up-to-date pricing before submitting the order.\r\n- Submitting an order with expired rates may result in a rejection or a rate mismatch error.\r\n            \r\n**Recommended Flow:**\r\n1. Call this endpoint to retrieve current rates.\r\n2. Present the available options to the user.\r\n3. Ensure the user selects a rate and the order is submitted **within 240 minutes**.\r\n4. If the window has passed, call this endpoint again before proceeding with submission.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique Podbul Order ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Shipping rates retrieved successfully",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found or user doesn't have access",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RateInfoDTOListApiResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid user ID or order has no shipping address"
                    },
                    "500": {
                        "description": "Internal server error during rate retrieval"
                    }
                }
            }
        },
        "/api/v1/orders/{id}/submit": {
            "post": {
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitOrderDTO"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitOrderDTO"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitOrderDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/wallet-preference": {
            "get": {
                "tags": [
                    "WalletPreference"
                ],
                "summary": "Get or Create Wallet Preference",
                "description": "This endpoint manages user-specific wallet and payment preferences within the Podbul platform.\r\nIf the user doesn't have existing preferences, default settings will be automatically created.\r\n\r\n**Wallet Preference Features:**\r\n- Default payment methods and priorities\r\n- Currency preferences for transactions\r\n- Billing address and payment profiles\r\n- Auto-payment settings and configurations\r\n- Transaction limits and spending controls\r\n\r\n**Automatic Creation:**\r\n- New users get default preference settings\r\n- Preferences are created with system defaults\r\n- User can modify preferences after creation\r\n- All changes are tracked for audit purposes\r\n\r\n**Security Considerations:**\r\n- User authentication required via JWT token\r\n- Users can only access their own preferences\r\n- Sensitive payment data is properly secured\r\n- All access is logged for security monitoring\r\n\r\n**Usage Patterns:**\r\n- Called during user onboarding process\r\n- Retrieved before payment processing\r\n- Updated when user modifies payment settings\r\n- Integrated with order creation workflows",
                "responses": {
                    "200": {
                        "description": "Wallet preferences retrieved successfully, created if not existing",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User authentication failed or invalid token",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletPreferenceReadModelApiResult"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error during preference retrieval or creation"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AddProductToCustomOrderDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "orderId": {
                        "type": "string",
                        "nullable": true
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "productId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "colorId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sizeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "printArea": {
                        "$ref": "#/components/schemas/PrintArea"
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "imageUrl1": {
                        "type": "string",
                        "nullable": true
                    },
                    "imageUrl2": {
                        "type": "string",
                        "nullable": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ShipStationOptionEntity"
                        },
                        "nullable": true
                    },
                    "productImageUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "salePrice": {
                        "type": "number",
                        "format": "double"
                    },
                    "sku": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AddressDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "company": {
                        "type": "string",
                        "nullable": true
                    },
                    "street1": {
                        "type": "string",
                        "nullable": true
                    },
                    "street2": {
                        "type": "string",
                        "nullable": true
                    },
                    "street3": {
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "nullable": true
                    },
                    "postalCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CatalogCategoryDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "imageFileUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "parentCategoryId": {
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "additionalProperties": false
            },
            "CatalogColorDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "colorHexCode": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CatalogFiltersDto": {
                "type": "object",
                "properties": {
                    "categoryId": {
                        "type": "integer",
                        "description": "Required category Id. If not sent, empty result will be returned.",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "CatalogMockupDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "imageUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "slot": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "additionalProperties": false
            },
            "CatalogPriceTableDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "price": {
                        "type": "number",
                        "format": "double"
                    },
                    "discountPrice": {
                        "type": "number",
                        "format": "double"
                    },
                    "colorId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sizeId": {
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "additionalProperties": false
            },
            "CatalogProductDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "brand": {
                        "type": "string",
                        "nullable": true
                    },
                    "defaultShowcaseImageUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "stockCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "price": {
                        "type": "number",
                        "format": "double"
                    },
                    "svgName": {
                        "type": "string",
                        "nullable": true
                    },
                    "twoSidedPrintingFee": {
                        "type": "number",
                        "format": "double"
                    },
                    "printAreas": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "nullable": true
                    },
                    "showcaseImageGalleryUrls": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "isSizeDetailVisible": {
                        "type": "boolean"
                    },
                    "sizesDetail": {
                        "type": "string",
                        "nullable": true
                    },
                    "publishState": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "createDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "modifyDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lowestPrice": {
                        "type": "number",
                        "format": "double"
                    },
                    "lowestDiscountPrice": {
                        "type": "number",
                        "format": "double"
                    },
                    "colors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogColorDTO"
                        },
                        "nullable": true
                    },
                    "sizes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogSizeDTO"
                        },
                        "nullable": true
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogCategoryDTO"
                        },
                        "nullable": true
                    },
                    "mockups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogMockupDTO"
                        },
                        "nullable": true
                    },
                    "priceTables": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogPriceTableDTO"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CatalogProductPagedResultDTO": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CatalogProductDTO"
                        },
                        "nullable": true
                    },
                    "page": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalCount": {
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "additionalProperties": false
            },
            "CatalogProductPagedResultDTOApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "$ref": "#/components/schemas/CatalogProductPagedResultDTO"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CatalogSizeDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "sku": {
                        "type": "string",
                        "nullable": true
                    },
                    "shortName": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CategoryTreeDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "imageFileUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "parentCategoryId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "children": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CategoryTreeDto"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CategoryTreeDtoListApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CategoryTreeDto"
                        },
                        "nullable": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CreateOrderResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "CreateOrderResponseApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "$ref": "#/components/schemas/CreateOrderResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ExpenseDTO": {
                "type": "object",
                "properties": {
                    "totalProductCost": {
                        "type": "number",
                        "format": "double"
                    },
                    "totalShipmentCost": {
                        "type": "number",
                        "format": "double"
                    },
                    "totalProductAndShipmentCost": {
                        "type": "number",
                        "format": "double"
                    },
                    "expenseItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ExpenseItemDTO"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ExpenseItemDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "sku": {
                        "type": "string",
                        "nullable": true
                    },
                    "productCost": {
                        "type": "number",
                        "format": "double"
                    },
                    "printingAreaCost": {
                        "type": "number",
                        "format": "double"
                    },
                    "isPaid": {
                        "type": "boolean"
                    },
                    "paidDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "colorId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "color": {
                        "type": "string",
                        "nullable": true
                    },
                    "sizeId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "size": {
                        "type": "string",
                        "nullable": true
                    },
                    "imageUrl1": {
                        "type": "string",
                        "nullable": true
                    },
                    "imageUrl2": {
                        "type": "string",
                        "nullable": true
                    },
                    "specialDesignFrontUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "specialDesignBackUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "garmentId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "garmentName": {
                        "type": "string",
                        "nullable": true
                    },
                    "brand": {
                        "type": "string",
                        "nullable": true
                    },
                    "printArea": {
                        "type": "string",
                        "nullable": true
                    },
                    "weight": {
                        "type": "number",
                        "format": "double"
                    },
                    "weightUnit": {
                        "type": "string",
                        "nullable": true
                    },
                    "length": {
                        "type": "number",
                        "format": "double"
                    },
                    "width": {
                        "type": "number",
                        "format": "double"
                    },
                    "height": {
                        "type": "number",
                        "format": "double"
                    },
                    "lengthUnit": {
                        "type": "string",
                        "nullable": true
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "stockCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "mockupImageUrl": {
                        "type": "string",
                        "nullable": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ExpenseItemOptionDTO"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ExpenseItemOptionDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "value": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "type": "string",
                        "nullable": true
                    },
                    "apiSecret": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "LoginResponse": {
                "type": "object",
                "properties": {
                    "accessToken": {
                        "type": "string",
                        "nullable": true
                    },
                    "expiresAtUtc": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "LoginResponseApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "$ref": "#/components/schemas/LoginResponse"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ObjectApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "nullable": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OrderCreateDTO": {
                "type": "object",
                "properties": {
                    "customerNotes": {
                        "type": "string",
                        "nullable": true
                    },
                    "customerUsername": {
                        "type": "string",
                        "nullable": true
                    },
                    "customerEmail": {
                        "type": "string",
                        "nullable": true
                    },
                    "isGift": {
                        "type": "boolean"
                    },
                    "giftMessage": {
                        "type": "string",
                        "nullable": true
                    },
                    "shipTo": {
                        "$ref": "#/components/schemas/AddressDTO"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AddProductToCustomOrderDTO"
                        },
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OrderInvoiceDTO": {
                "type": "object",
                "properties": {
                    "totalShipmentFee": {
                        "type": "number",
                        "format": "double"
                    },
                    "totalProductFee": {
                        "type": "number",
                        "format": "double"
                    },
                    "invoice": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OrderResponseDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "podbulOrderId": {
                        "type": "string",
                        "nullable": true
                    },
                    "orderIdFromMarketPlace": {
                        "type": "string",
                        "nullable": true
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "orderStatus": {
                        "type": "string",
                        "nullable": true
                    },
                    "marketPlace": {
                        "type": "string",
                        "nullable": true
                    },
                    "referenceId": {
                        "type": "string",
                        "nullable": true
                    },
                    "storeName": {
                        "type": "string",
                        "nullable": true
                    },
                    "expense": {
                        "$ref": "#/components/schemas/ExpenseDTO"
                    },
                    "orderInvoice": {
                        "$ref": "#/components/schemas/OrderInvoiceDTO"
                    },
                    "orderShipments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderShipmentDTO"
                        },
                        "nullable": true
                    },
                    "orderCreatedDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "totalPaid": {
                        "type": "number",
                        "format": "double"
                    },
                    "isFinilized": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "OrderResponseDTOApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "$ref": "#/components/schemas/OrderResponseDTO"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OrderShipmentDTO": {
                "type": "object",
                "properties": {
                    "shipmentDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "trackingNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "carrierCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "serviceCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "trackingUrl": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "PrintArea": {
                "enum": [
                    0,
                    1,
                    2,
                    3,
                    4
                ],
                "type": "integer",
                "format": "int32"
            },
            "ProblemDetails": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "detail": {
                        "type": "string",
                        "nullable": true
                    },
                    "instance": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": {}
            },
            "RateInfoDTO": {
                "type": "object",
                "properties": {
                    "carrierCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "serviceCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "packageType": {
                        "type": "string",
                        "nullable": true
                    },
                    "totalAmount": {
                        "type": "number",
                        "format": "double"
                    },
                    "deliveryDays": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "trackable": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "RateInfoDTOListApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RateInfoDTO"
                        },
                        "nullable": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ShipStationOptionEntity": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "value": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "SubmitOrderDTO": {
                "type": "object",
                "properties": {
                    "carrierCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "serviceCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "packageType": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "WalletPreferenceReadModel": {
                "type": "object",
                "properties": {
                    "balance": {
                        "type": "number",
                        "format": "double"
                    },
                    "processedDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "WalletPreferenceReadModelApiResult": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "$ref": "#/components/schemas/WalletPreferenceReadModel"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "error": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "description": "JWT Authorization header. Example: 'Bearer {token}'",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        {
            "Bearer": []
        }
    ]
}
